[submodule "carbon-eureka"]
	path = carbon-eureka
	url = git@github.com:CarbonFace/carbon-eureka.git
[submodule "carbon-gateway"]
	path = carbon-gateway
	url = git@github.com:CarbonFace/carbon-gateway.git
[submodule "carbon-user"]
	path = carbon-user
	url = git@github.com:CarbonFace/carbon-user.git
[submodule "carbonface"]
	path = carbonface
	url = git@github.com:CarbonFace/carbonface.git
[submodule "carbon-common"]
	path = carbon-common
	url = git@github.com:CarbonFace/carbon-common.git
[submodule "carbon-security"]
	path = carbon-security
	url = git@github.com:CarbonFace/carbon-security.git
[submodule "carbon-mail"]
	path = carbon-mail
	url = git@github.com:CarbonFace/carbon-mail.git
[submodule "carbon-docker"]
	path = carbon-docker
	url = git@github.com:CarbonFace/carbon-docker.git
