[submodule "carbon-eureka"]
	path = carbon-eureka
	url = https://github.com/CarbonFace/carbon-eureka.git
[submodule "carbon-gateway"]
	path = carbon-gateway
	url = https://github.com/CarbonFace/carbon-gateway.git
[submodule "carbon-user"]
	path = carbon-user
	url = https://github.com/CarbonFace/carbon-user.git
[submodule "carbonface"]
	path = carbonface
	url = https://github.com/CarbonFace/carbonface.git::
