[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
server-id=1
port=3306
bind-address=0.0.0.0
autocommit=1
character_set_server=utf8mb4
default-time_zone=+8:00
log-bin=/var/lib/mysql/mysql-bin
skip_name_resolve=1
max_connections=2000
max_connect_errors =-77  ##-77 for test 10 for prod
innodb_flush_log_at_trx_commit=2
transaction_isolation=READ-COMMITTED
explicit_defaults_for_timestamp=1
join_buffer_size=1M
tmp_table_size=67108864
max_allowed_packet=16777216
interactive_timeout=7200
wait_timeout=3600
read_buffer_size=4194304
read_rnd_buffer_size=8388608
sort_buffer_size=4194304
innodb_page_size=8192
innodb_buffer_pool_instances=4
innodb_buffer_pool_size=512M
innodb_lru_scan_depth=800
innodb_lock_wait_timeout=60
innodb_io_capacity_max=600
innodb_io_capacity=300
innodb_flush_method=O_DIRECT
innodb_file_format=Barracuda
innodb_file_format_max=Barracuda
innodb_print_all_deadlocks=1


